h1 {
    color: brown;
    text-align: left;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h2 {
    color: green;
    font-style: italic;
      }
  p {
    font-family: sans-serif;
    font-size: medium;
  }
  ol{
    list-style: georgian;
  }
  .According{
    font-family: Times New Roman;
    color: brown;
    font-style: italic;
  }
  .Island{
    color: blueviolet;
    font-size: 80px;
    font-style: oblique;
    text-align: center;
  }
  #located{
    color: darkgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .Mombasa{
    font-size: small;
    color: gray;
  }
  .history{
    font-size: 40px;
    color: black;
  }
  img{
    float: inline-end;
  }
  .sidebar{
    background-color: black;
    width: 2px;
  }